<div class='container'>
    <div class='jumbotron'>
        <h1>Editing Project</h1>
    </div>

        <%= render 'form', project: @project %>
        <br><br>
        <%= link_to 'Show', @project, class: 'btn btn-primary' %> |
        <%= link_to 'Back', projects_path, class: 'btn btn-secondary' %>
</div>
